.node-custom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    justify-content: center;
    height: 3rem;
    margin: 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
    width: 400px;
}

.employee-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #427A76;
    color: white;
    font-weight: 800;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}