.left-panel {
    background-color: #fdfdfd;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 340px;
    height: 95vh;
    overflow: auto;
    scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
}

.employee-list{
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.employee-list::-webkit-scrollbar {
    display: none;
}