#root {
  margin: 0 auto;
  text-align: center;
    width: 100%
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

